#CustomerSearch {
  height: 100px;
  width: 100%;
  background-color: green;
}

#CustomerSearchCategory, #CustomerSearchField, #CustomerSearchButton, option {
  height: 100%;
  width: 10%;
  border: 2px solid black;
  margin: 10px;
}

#CustomerSearchCategory, #CustomerSearchField, #CustomerSearchButton, option:focus {
  outline: 0;
}
