#CustomerSearch {
  height: 50px;
}

#CustomerSearchCategory, #CustomerSearchField, #CustomerSearchButton, option {

}

#CustomerSearchCategory, #CustomerSearchField, #CustomerSearchButton, option:focus {

}

#CustomerSearchCategory, #CustomerSearchField, #CustomerSearchButton {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #DCDCDC;
};

.list-group-item li:nth-child(odd) {
  background-color: #efefef;
}

.list-group{
    max-height: 66.4vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
}

.CustomerList {
  padding-left: 30px;
}

#comment {
  width: 300px;
  height: 120px;
}

#Bikedrop, #Accdrop {
  width: 250px;
  margin-right: 10px;
}

#Bikedropbtn, #Accdropbtn {
  width: 150px;
}

#EmployeeSearchField, #EmployeeSearchCategory, #EmployeeSearchButton {
  margin-right: 10px;
}

.Card-body {
  height: 100vh;
}

#TypeDropdown, #FrameDropdown, #BrakeDropdown, #StatusDropdown, #HomeLocation, #CurrentLocation {
  width: 150px;
}

.btn.btn-success, .btn.btn-danger {
  padding-right: 10px;
  width: auto;
  text-align: center;
}

@font-face {
  font-family: 'Fjalla One', sans-serif;
  font-size: normal;
  src: url('https://fonts.googleapis.com/css?family=Fjalla+One');
}

body {
  font-family: 'Fjalla One', sans-serif;
}
